{% extends "courses/layout.html" %}

{% block title %} {{ form.instance.title|default:"New Course" }}{{ block.super }}{% endblock %}



{% block content %}
<div class="columns">
    {{ block.super }}
    <h1>{{ form.instance.title|default:"Make a New Course" }}</h1>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button" name='course_save' value="Save">
        {% if form.instance.pk %}
        <input  type="submit" class="button" name='course_delete'
                value="Delete" onclick="return confirm('Are you sure you want to delete the course?')">
        {% endif %}
    </form>


</div>
{% endblock %}